:root{
    --color-accent: rgb(88, 24, 150);
    --color-accent-inverted: rgb(215, 200, 230);
    --color-link: var(--color-accent);
    --color-link-inverted: var(--color-accent-inverted);
    --color-text: rgb(33, 33, 33);
    --color-text-inverted: rgb(255, 255, 255);
}

body.dark-mode {
    --color-background-page: rgb(18, 18, 18);
    --color-text: rgb(224, 224, 224);
    --color-background-card: rgb(30, 30, 30);
    --color-accent: var(--color-accent-inverted);
    --color-text-control: rgb(204 204 204);
    --color-text-control-inverted: var(--color-background-page);
  }